@model Business.ViewModels.CheckoutViewModel.CheckoutViewModel
@{
    ViewData["Title"] = "Processing";
    //Layout = null;
}

<section class="side-navbar">
    <div id="mySidenav" class="sidenav">

        @foreach (var category in Model.Categories)
        {

            <a class="category-title" asp-controller="Categories" asp-action="Index"><i class="bi bi-record-circle"></i> <p>@category.Name</p> </a>
        }


    </div>
</section>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>
<style>

    .checkout-succes-h1 {
        color: rgb(128,128,128);
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .checkout-succes-p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    .checkout-succes-i {
        color: rgb(128,128,128);
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .checkout-succes-card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }

    .checkout-btn {
        border: 2px solid rgb(128, 128, 128);
        border-radius: 8px; 
        color: white;
        background: rgb(128, 128, 128);
        padding: 15px 10px 15px 10px;
        text-decoration: none;
    }

        .checkout-btn:hover {
            background: #343434;
            color: white;
            border: 2px solid #343434;
            transition: 0.8s ease;
            text-decoration: none;
        }


</style>
<body>

    <div style="display: flex; justify-items: center; justify-content: center; text-align: center; align-items: center; align-content: center;">

        <div class="card checkout-succes-card">



            <form asp-action="Processing" asp-controller="Checkout" method="post">



                <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                    <i class="checkmark checkout-succes-i">✓</i>
                </div>
                <h1 class="checkout-succes-h1">Uğurlu ödəniş</h1>
                <p class="checkout-succes-p">Müştərinin istifadəçi adı: @ViewBag.Customer<br /> Ödənilən məbləğ: @ViewBag.AmountPaid ₼</p> <br />
                <a class="checkout-btn" asp-controller="Home" asp-action="Index">Əsas Səhifə</a>


            </form>


        </div>
    </div>

</body>
</html>