
@{
    ViewData["Title"] = "Processing";
}
<div class="text-center">
    <form asp-action="Processing" asp-controller="Checkout" method="post">
        
        <label class="text-info">Ödəniş uğurla başa çatdı !</label>
        <br />
        <br />
        <p class="blockquote text-center">
            Qeydə alınan sifariş:  <br />
            Müştəri : @ViewBag.Customer <br /> <br />
            Məbləğ : $ @ViewBag.AmountPaid 


        </p>
            
        @*@if (TempData.Peek("TotalAmount") != null)
                {
                    var result = Convert.ToInt64(TempData.Peek("TotalAmount"));
                    result /= 100; 
                    <h3>Amount: @result USD has been processed successfully.</h3>
                }*@ 
    </form>
</div>
