@model BrandCreateViewModel

@{
    ViewData["Title"] = "Brend Yarat";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Brend əlavə et</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post" asp-controller="Brand" asp-action="Create">

                <div class="form-group">
                    <label asp-for="Name">Məhsulun adı:</label>
                    <input required class="form-control" asp-for="Name" placeholder="Məhsulun adını daxil edin...">
                    <span asp-validation-for="Name"></span>
                </div>

                <button type="submit" class="btn btn-primary">Yarat</button>
            </form>
        </div>
    </div>
</div>


