
@{
    ViewData["Title"] = "Haqqimizda";

    ViewData["Loader"] = "<div id=\"loadertop\"></div>";
}



<main>



    <section class="aboutus">

        <div class="container">

            <ul class="nav nav-tabs" id="AboutTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">Haqqımızda</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="succes-tab" data-toggle="tab" href="#succes" role="tab" aria-controls="succes" aria-selected="false">Uğur yolumuz</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="partner-tab" data-toggle="tab" href="#partner" role="tab" aria-controls="partner" aria-selected="false">Tərəfdaşlarımız</a>
                </li>
            </ul>
            <div class="tab-content" id="AboutTabContent">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">

                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="text-center pt-3">
                                Haqqımızda
                            </h2>
                        </div>

                        <div class="col-lg-4">
                            <img height="280" src="~/assets/img/aboutus.png" alt="">
                        </div>

                        <div class="col-lg-8">
                            <p class="about-content">
                                Artıq 10 ildən artıqdır ki,
                                Azərbaycanda fəaliyyət göstərən ToG-Shopping müxtəlif markalı mobil telefonların, kompüterlərin və aksesuarların topdan, korporativ və pərakəndə satışını həyata keçirir.
                            </p>
                            <p class="about-content">
                                ToG-Shopping telefon, kompüter və aksesuarlar sahəsində dünyaca məşhur brendlərin məhsullarını müştərilərinə təqdim edir
                            </p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="succes" role="tabpanel" aria-labelledby="succes-tab">

                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="text-center pt-3">
                                Uğur yolumuz
                            </h2>
                        </div>

                        <div class="col-lg-4">
                            <img height="250" src="~/assets/img/succes.png" alt="">
                        </div>

                        <div class="col-lg-8">
                            <p class="about-content">

                                ToG-Shopping 2012-ci ildə elektronika mağazalar şəbəkəsinin yaradılmasında əldə olunan nailiyyətlərə görə “Uğur” mükafatı ilə təltif edilmişdir.

                            </p>
                            <p class="about-content">
                                ToG-Shopping hər zaman müştərilərinin rahatlığını düşünmüşdür və ölkədə ilk dəfə olaraq müştəriləri üçün <b>Onlayn Kredit</b> lahiyəsini həyata keçirmişdir.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="partner" role="tabpanel" aria-labelledby="partner-tab">


                    <section class="brands">

                        <div class="container">
                            <div class="row">
                                <div class="brands-slider owl-carousel owl-theme">
                                    <div class="brands-item">
                                        <img src="~/assets/img/brands/apple.png" alt="">
                                    </div>
                                    <div class="brands-item">
                                        <img src="~/assets/img/brands/dell.png" alt="">
                                    </div>
                                    <div class="brands-item">
                                        <img src="~/assets/img/brands/htc.png" alt="">
                                    </div>
                                    <div class="brands-item">
                                        <img src="~/assets/img/brands/lenovo.png" alt="">
                                    </div>
                                    <div class="brands-item">
                                        <img src="~/assets/img/brands/nokia.png" alt="">
                                    </div>
                                    <div class="brands-item">
                                        <img src="~/assets/img/brands/samsung.png" alt="">
                                    </div>
                                    <div class="brands-item">
                                        <img src="~/assets/img/brands/xiaomi.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-partner">
                                    <p class="about-partner-left">
                                        ToG-Shopping dünyaca məhşur olan bir çox şirkətlərlə tərəfdaşdır. <br><br>
                                        Apple, Samsung, Taube, Honor, Oppo, Realme, Nokia, Atlant, De Luxe, Renova, AIPU, CAM, Plitex, Peg Perego, İnglesina, Anex, Xiaomi, OnePlus, Alcatel, LG, və s.
                                    </p>



                                </div>
                            </div>

                            <div class="col-lg-6">
                                <p>
                                    Azərbaycanın tanınmış elektronika şəbəkəsi olan ToG-Shopping Satış Mərkəzi elektronika sahəsində öndə gedən Apple və Samsung kimi məhşur şirkətlərin Respublikamızda rəsmi tərəfdaşıdır.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </section>



</main>

