@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Təşəkkürlər</title>
</head>
<body>
<h1>Qeydiyyatınız üçün təşəkkür edirik !</h1>
<h3>Zəhmət olmasa emailinizə göndərilən keçid vasitəsilə emailinizi təsdiqləyin !</h3>
</body>
</html>