@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Təsdiqləndi</title>
</head>
<body>
    <h1>Emailiniz təsdiqləndi. Elə indi daxil olun və alış-verişə başlayın !</h1>
    <a class="banner-btn" asp-controller="Account" asp-action="Login">Daxil ol</a>
</body>
</html>