
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToG Shopping</title>



    <!-- L I N K S -->
    <!--    Bootstrap Icon CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--    Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!--My CSS-->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!--    Owl Carousel CSS-->
    <link rel="stylesheet" href="~/assets/plugins/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

</head>
<body>

    <!-- Messenger Sohbet Eklentisi Code -->
    <div id="fb-root"></div>

    <!-- Your Sohbet Eklentisi code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <!-- <div id="my-mouse"></div> -->

    <div id="loadertop"></div>




    <main>



        <div class="login-register">
            <div class="rlcontainer">
                <div class="forms-rlcontainer">
                    <div class="signin-signup">
                        <form action="#" class="sign-in-form">
                            <h2 class="title">Daxil ol</h2>
                            <div class="input-field">
                                <i class="fas fa-user-check"></i>
                                <input type="text" placeholder="İstifadəçi adı" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Şifrə" />
                            </div>
                            <input type="submit" value="Daxil ol" class="btn solid" />
                            <p class="social-text">Və ya sosial şəbəkə ilə daxil ol</p>
                            <div class="social-media">
                                <a href="#" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-google"></i>
                                </a>
                            </div>
                        </form>
                        <form action="#" class="sign-up-form">
                            <h2 class="title">Qeydiyyat</h2>
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Ad Soyad" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-user-check"></i>
                                <input type="text" placeholder="İstifadəçi adı" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input type="email" placeholder="Email" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Şifrə" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Şifrənin Təkrarı" />
                            </div>
                            <input type="submit" class="btn" value="Qeydiyyat" />
                            <p class="social-text">Və ya sosial şəbəkə ilə qeydiyyatdan keç</p>
                            <div class="social-media">
                                <a href="#" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-google"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panels-rlcontainer">
                    <div class="panel left-panel">
                        <div class="content">
                            <h3>ToG Shopping - də Yenisiniz ?</h3>
                            <p>
                                Elə indi qeydiyyat olaraq şəxsi hesabını yarat və alış-verişə başla !
                            </p>
                            <button class="btn transparent" id="sign-up-btn">
                                Qeydiyyat
                            </button>
                        </div>
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/assets/img/logo.png" class="image" alt="" />
                        </a>
                    </div>
                    <div class="panel right-panel">
                        <div class="content">
                            <h3>Şəxsi hesabınız mövcuddur ?</h3>
                            <p>
                                O zaman öz şəxsi hesabınıza daxil olun və alış-verişinizə davam edin !
                            </p>
                            <button class="btn transparent" id="sign-in-btn">
                                Daxil ol
                            </button>
                        </div>
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/assets/img/nav-logo.png" class="image" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>




    </main>









    <!-- S C R I P T S -->
    <!-- JQuery Link -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!--Fontswesome JS-->
    <script src="https://kit.fontawesome.com/703d4d8784.js" crossorigin="anonymous"></script>
    <!--Bootstrap JS Bundle-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <!-- OwlCarousel JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="~/assets/plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <!--My JS-->
    <script src="~/assets/js/script.js"></script>

</body>
</html>




