@{
    ViewData["Title"] = "ConfirmEmail";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>

<h2 class="text-center text-uppercase mb-0 mt-5">Şifrəniz uğurla dəyişdirildi !</h2>


<div class="d-flex justify-content-center align-items-center">
    <a style="border:2px solid black; border-radius:15px;" class="btn mb-0 mt-5" asp-controller="Account" asp-action="Login">Go To Login</a>
</div>
</body>
</html>