@model Business.ViewModels.PaymentViewModel.PaymentViewModel
@{
    ViewData["Title"] = "Payment";
    Layout = null;
    var totalprice = ViewData["totalPrice"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    @*<link rel="stylesheet" href="css/style.css">*@

</head>
<body>

    <div class="payment-container">

        <form class="payment-form" asp-controller="ProductOperation" asp-action="Payment" method="post">

            <div class="payment-row">

                <div class="payment-col">

                    <h3 class="payment-title">Sifariş Məlumatları</h3>

                    <div class="payment-inputBox">
                        <input autocomplete="off" asp-for="Order.Name" placeholder="Adınız">
                    </div>
                    <div class="payment-inputBox">
                        <input autocomplete="off" asp-for="Order.Surname" placeholder="Soyadınız">
                    </div>
                    <div class="payment-inputBox">
                        <input autocomplete="off" asp-for="Order.Address" placeholder="küçə - bina - qapı">
                    </div>
                    <div class="payment-inputBox">
                        <input autocomplete="off" asp-for="Order.City" placeholder="Şəhər">
                    </div>

                    <div class="payment-flex">
                        <div class="payment-inputBox">
                            <input autocomplete="off" asp-for="Order.Number" placeholder="Əlaqə nömrəsi">
                        </div>
                        <div class="payment-inputBox">
                            <input autocomplete="off"t asp-for="Order.PostalCode" placeholder="Poçt kodu">
                        </div>
                    </div>


                    <div class="payment-inputBox">
                        <input hidden asp-for="Price" value="@Model.Price" placeholder="@Model.Price">
                    </div>

                </div>



            </div>

            <div class="payment-submit">
                <button class="payment-submit-btn" type="submit">Odenise Kec</button>
            </div>
        </form>

    </div>

</body>
</html>
