@model ProductCreateViewModel

@{
    ViewData["Title"] = "Məhsul Yarat";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Məhsul əlavə et</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post" asp-controller="Product" asp-action="Create">
                <div class="form-group">
                    <label asp-for="Name">Məhsulun adı:</label>
                    <input class="form-control" asp-for="Name" placeholder="Məhsulun adını daxil edin...">
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Məhsul haqqında:</label>
                    <input class="form-control" asp-for="Description" placeholder="Məhsul haqqında məlumat daxil edin...">
                    <span asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Information">Məhsul haqqında əlavə məlumat:</label>
                    <input class="form-control" asp-for="Information" placeholder="Məhsul haqqında əlavə məlumat daxil edin...">
                    <span asp-validation-for="Information"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Categories">Məhsul kateqoriyası:</label>
                    <select class="form-control" asp-for="CategoryId"
                            asp-items="@(new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name)))">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="Categories"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Brands">Məhsul kateqoriyası:</label>
                    <select class="form-control" asp-for="BrandId"
                            asp-items="@(new SelectList(Model.Brands, nameof(Brand.Id), nameof(Brand.Name)))">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="Brands"></span>
                </div>





                



                <div class="form-group">
                    <label asp-for="Count">Məhsulun sayı:</label>
                    <input class="form-control" asp-for="Count" placeholder="Məhsulun sayını daxil edin...">
                    <span asp-validation-for="Count"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Məhsulun qiyməti:</label>
                    <input class="form-control" asp-for="Price" placeholder="Məhsulun qiymətini daxil edin...">
                    <span asp-validation-for="Price"></span>
                </div>
                <button type="submit" class="btn btn-primary">Yarat</button>
            </form>
        </div>
    </div>
</div>


