@model ProductViewModel
@{
    ViewData["Title"] = "Index";

    ViewData["Loader"] = "<div id=\"loadertop\"></div>";
}



<main>

    <div class="product-page-container">
        
        <div class="product-page-main">
            <div class="product-page-main-image">

                <a href="#" class="share"><i class="fas fa-share-alt"></i></a>

                <div class="product-page-carousel owl-carousel owl-theme">
                    
                    @foreach (var item in Model.ProductImages.Where(p=>p.ProductId == Model.Products.Id).ToList())
                    {
                        <div class="product-page-item">
                            <div class="product-page-image">
                                <img draggable="false" src="~/assets/img/@item.Image" alt="It is Lenovo Laptop">
                            </div>
                        </div>
                    }

                </div>


            </div>
            <div class="product-page-main-content">
                <div class="page-product-name">
                    <div>
                        <h2 class="big"> Name</h2>
                        <span class="new">Yeni</span>
                    </div>
                    <h3 class="small">#@Model.Categories.Where(p=>p.Id == Model.Products.CategoryId).FirstOrDefault().Name</h3>
                </div>

                <div class="page-product-parameter">
                    <h3 class="title">Xüsusiyyətlər</h3>
                    <p class="text">
                        <ul>
                             @Model.Products.Description
                            <hr>
                             @Model.Products.Information
                        </ul>
                    </p>
                </div>


                <div class="buy-price">
                    <a href="#" class="buy"><i class="fas fa-shopping-cart"></i>Səbətə At</a>
                    <div class="price">
                        <p style="font-size: 20px;"></p>
                        @*<h2> Price</h2>*@
                        <h2><s> @Model.Products.Price </s>  @Model.Products.Id</h2> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

