@model ProductViewModel
@{
    ViewData["Title"] = "Index";

    ViewData["Loader"] = "<div id=\"loadertop\"></div>";

    
}





<main>

    <div class="main-wrapper">
        <div class="container">
            <div class="product-div">
                <div class="product-div-left">
                    <div class="img-container">
                        <img class="product-page-image" src="~/assets/img/@Model.ProductImages.Where(pi=>pi.ProductId==Model.Products.Id && pi.IsMain==true).FirstOrDefault().Image" alt="watch">
                        

                        @*<img class="product-page-image" src="~/assets/img/381b1dd7-ff92-44e9-9485-b2ab5472781c_wireless-charge.png" alt="watch">*@
                    </div>
                    <div class="hover-container">

                        @foreach (var item in Model.ProductImages.Where(pi => pi.ProductId == Model.Products.Id).ToList())
                        {
                            <div><img class="product-page-image" src="~/assets/img/@item.Image"></div>
                        }

                        @*<div><img class="product-page-image" src="~/assets/img/381b1dd7-ff92-44e9-9485-b2ab5472781c_wireless-charge.png"></div>
        <div><img class="product-page-image" src="~/assets/img/381b1dd7-ff92-44e9-9485-b2ab5472781c_wireless-charge.png"></div>
        <div><img class="product-page-image" src="~/assets/img/381b1dd7-ff92-44e9-9485-b2ab5472781c_wireless-charge.png"></div>
        <div><img class="product-page-image" src="~/assets/img/381b1dd7-ff92-44e9-9485-b2ab5472781c_wireless-charge.png"></div>
        <div><img class="product-page-image" src="~/assets/img/381b1dd7-ff92-44e9-9485-b2ab5472781c_wireless-charge.png"></div>*@
                    </div>
                </div>
                <div class="product-div-right">
                    <span class="product-name">Salamzade</span>
                    <span class="product-price">$ 50.25</span>
                    <div class="product-rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                        <span>(350 ratings)</span>
                    </div>
                    <p class="product-description">Description</p>
                    <div class="btn-groups">
                        <button type="button"  asp-controller="ProductOperation" asp-action="SetCart"  class="add-cart-btn"><i class="fas fa-shopping-cart"></i>Səbətə at</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

